<!-- <button id="googleBtn">Google</button> -->

<div class="centre">
  <div class="row">
    <div class="col">
      <button type="button" class="btn primary" id="signinButton" #signIn>
        Goolge Sign In
      </button>
    </div>
  </div>
  <div class="row topspace">
    <div class="col">
      <button type="button" class="btn primary" (click)="getData()">Show Access Key</button>
    </div>
  </div>
  <div class="row topspace">
    <div class="col">
      <textarea [value]="res" placeholder="Acces Key" style="width: 800px; height: 30px;">
        Your access key is</textarea>
    </div>
  </div>
</div>